
 body {
    font-family: 'Roboto', sans-serif;
  }


#header{
  background: #85200cff;
  color: white;
  width: 700px;
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  background: #85200cff;
  color: white;
  width: 700px;
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#Main_tbl button{
  width: 20px;
  height: 20px;
}

#addLoader{
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 7px;
}

#btn{
  position: relative;
  float: right;
}

#searchLoader{
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 7px;
}

#searchBtn{
  position: relative;
  float: right;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}